<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <%= image_tag(post.webp_variant) %>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
